/**
 * @author David Rogers <david@ethos-development.com>
 */
body, td
{
    font-family: Arial Neue, Arial, sans-serif;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 { }
h1 { font-size: 36pt; }
h2 { font-size: 24pt; }
h3 { font-size: 18pt; }
h4 { }
h5 { }
h6 { }

.clear { clear: both; }

.help { font-size: 80%; color: #666; text-align: right; }

#content
{
    position: relative;
    background: #EEE;
    margin: 0 auto;
    padding: 1ex 1em;
    width: 90%;
}

#meta-nav
{
    list-style-type: none;
    position: absolute;
    right: 0; top: 0;
    padding: 1ex 1em;
}


#main-nav { margin: 1ex .5em; }
#main-nav li
{
    display: inline;
}
#main-nav a
{
    padding: .5ex 1.5em;
    background: #CCC;
}

ul.panels > li { display: block; }
ul.panels li.panel
{
    margin: 2px; padding: 1ex 1em;
    width: 45%;
    float: left;
}

ul.marks li
{
    margin: .5ex 0;
    padding: 2ex 1em;
}
ul.marks li:nth-child(2n)
{
    background: #CCC;
}
ul.marks li.banana
{
    background: #FFA;
    padding: 5ex 4em;
}

.column
{
    float: left;
}

.column#column-left
{
    width: 50%; min-width: 450px;
}

