<%inherit file="site.haml" />
%p Share links with your friends and the rest of the 
    Twitterverse just by adding the hashtag
    %a(href="http://search.twitter.com/search?q=%23markd") \#markd
    to your tweets (but following 
    %a(href="http://twitter.com/hashmarkd") @hashmarkd
    will help, too).

