<%inherit file="site.haml" />
<%def name="marks(marks)">
- if not marks:
    %li Nothing #markd yet! |
        %a(href="http://twitter.com", rel="external") Get to tweeting!
- for mark in marks:
    %li ${mark}
</%def>
<%def name="body()">
%h2 Try it out!
%form
    %label(**{ 'for': "screen_name"}) @
    %input(name="screen_name", value=view.user)
%ul.panels
    %li.panel#by_me
        %h3 \#markd by @${view.user or 'me'}
        %ul ${self.marks(view.by_me)}
    %li.panel#for_me
        %h3 \#markd for @${view.user or 'me'}
        %ul ${self.marks(view.for_me)}
</%def>
