%%def(name="render_tweet(tweet)")
    %blockquote.tweet ${tweet}

    %p ${tweet.created_at}

%%def(name="render_tweets(tweets)")
    %ul.marks
        - if not tweets:
            %li.banana Nothing #markd yet! |
                %a(href="http://twitter.com", rel="external") Get to tweeting!
        - for tweet in tweets:
            %li ${self.render_tweet(tweet)}

%li.panel(id="by_me")
    %h3 \#markd by
        %span.screen_name @${v.screen_name}

    ${render_tweets(v.by_me)}

%li.panel(id="for_me")
    %h3 \#markd for
        %span.screen_name @${v.screen_name}
